// variables
$color1: rgb(46, 27, 3);
$color2: #b4b3ad;
$color3: rgba(224, 132, 13, 0.753);
$color4: rgb(224, 133, 13);
$color5: rgb(27, 7, 7);
$color6: rgba(27, 7, 7, 0.685);
$color7: rgb(27, 2, 2);
$color8: rgba(168, 224, 13, 0.781);
$color9: rgba(13, 224, 118, 0.767);
$white: rgb(245, 238, 235);
$black: rgb(22, 22, 22);
$black2: rgb(20, 12, 1) 1px 1px 1px;
$black3: rgb(26, 24, 24);
$black4: rgba(22, 22, 22, 0.055);
